{% extends 'base.html.twig' %}

{% block title %}Page 404 - Not Found{% endblock %}

{% block body %}
    <h1>Page 404 - Not Found</h1>
    <p>Sorry, the page you are looking for could not be found.</p>
{% endblock %}
