<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Back Office{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}{% endblock %}">

        {# Favicon #}
        {% include 'shared/base/elements/_favicon.html.twig' %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block canonical %}{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('backend') }}
            {{ encore_entry_link_tags('shared') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('backend') }}
            {{ encore_entry_script_tags('shared') }}
        {% endblock %}
    </head>
    <body class="bg-white dark:bg-gray-900">
        {% include "shared/base/elements/_toast.html.twig" %}
        {% include "backend/admin/base/elements/_confirmation_popup.html.twig" %}

        {% block body %}{% endblock %}

        {# FONT AWESOME #}
        <script src="https://kit.fontawesome.com/582e93cff3.js" crossorigin="anonymous"></script>
    </body>
</html>
