<div class="w-full mb-2 bg-gray-100 dark:bg-gray-800 rounded inline-block rounded">
    <p class="w-full text-xs font-semibold bg-gray-900 text-white p-2 rounded-t">{{ informationTitle }}</p>
    <p class="text-xs text-gray-900 dark:text-white p-2">{{ informationMessage }}</p>
</div>