{% for label, messages in app.flashes %}
    {% for message in messages %}

        {% if label == "success" %}
            {% set backgroundColor = 'bg-green-500' %}
        {% elseif label == "danger" %}
            {% set backgroundColor = 'bg-red-500' %}
        {% elseif label == "warning" %}
            {% set backgroundColor = 'bg-yellow-500' %}
        {% elseif label == "info" %}
            {% set backgroundColor = 'bg-blue-500' %}
        {% else %}
            {% set backgroundColor = 'bg-gray-500' %}
        {% endif %}

        <div class="fixed bottom-0 right-0 p-3 mb-4 mr-4 animate__animated animate__bounce" style="z-index: 50">
            <div class="{{ backgroundColor }} text-white p-4 rounded-lg shadow-lg toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="flex justify-between items-center">
                    <strong class="font-bold">Notification</strong>
                    <button type="button" class="ml-2 text-lg text-white close-toast-button" aria-label="Close">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
                <div class="mt-2">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
