<div class="container-fluid container-header d-flex justify-content-center align-items-center py-5">
    <a href="/">
        <img src="{{ asset('assets/images/header/header.png') }}" class="header-image" alt="header" />
    </a>
</div>