<div>
    {% for item in gallery %}
        <a href="{{ image_directory ~ item.elements.gallery.image.name }}" data-lightbox="gallery">
            {% if item.elements.imageElements.imageName is defined %}
                {% if null != item.elements.imageElements.imageName %}
                    <p>{{ item.elements.imageElements.imageName }}</p>
                {% endif %}
            {% endif %}
            <img src="{{ image_directory ~ item.elements.gallery.image.name }}" alt="{{ item.elements.imageElements.imageAlt ? item.elements.imageElements.imageAlt : '' }}" />
        </a>
    {% endfor %}
</div>
