<div class="container-fluid container-main-topbar bg-dark d-flex align-items-center text-white">
	<div class="container px-3 d-flex justify-content-around flex-wrap">
		<div class="topbar-container-location">
			<i class="fa-solid fa-location-dot me-2"></i>
			<a target="_blank" href="">
				Qu'est-ce que le Lorem Ipsum?
			</a>
		</div>
		<div class="topbar-container-phone">
			<i class="fa-solid fa-phone me-2"></i>
			<a href="tel:+33698989898">06 98 98 98 98</a>
		</div>
	</div>
</div>
